body{
    background-color: black;
    color: #c3c3c3;
}
.page-nav-container{
    background-color: black;
    border-bottom: 1px solid var(--red);

}

.page-nav{
    background-color: black;
}

.nav-element{color: #c3c3c3;}

#intro .hero{
    width: 100%;
    height: 100%;

}

footer{
    background-color: var(--deep-gray);
    border-top: 1px solid var(--red);
    padding: 15px;
}